body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color:#fff; */
    background-color:rgb(23, 23, 23);
    /* background-color:#fff; */
  }

  div.wrapper {
    background-color:rgb(100, 100, 100);
    /* background-color: #fff; */
    overflow:auto;
}


p {
    margin-left:35px;
}

h1,h2,h3 {
    margin-left:35px;  
}

.banner h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
    float: left;
    width: 40%;
}

.mainContent {
    /* height: 300px;
    width: 600px;
    background-color: blue; */
    margin-left: 30px;
    margin-bottom: 20px;
}

aside {
    text-align: left;
    float: right;
    /* width: 30%; */
    margin-bottom: 30px;
    padding-right: 50px;
}

img.myLogo {
    height: 75px;

}

.thank {
    
    /* text-decoration: underline; */
    /* color: red; */
    margin: auto;
    width: 80%;
    /* height: 300px; */
    padding: 30px 0px;
}

.thank h2 {
    padding-bottom: 10px;
}

aside h3 {
    margin-left: 0px;
}

.dog {
    max-width: 100%;
    
}

footer {
    clear: both;
    text-align:center;
    background-color: rgb(150, 150, 150);
    /* background-color: crimson; */
    padding-bottom: 20px;
    padding-top: 20px;
    
}

footer p {
    display: inline;
}




/* START DESKTOP - RESPONSIVE RULES */

@media all and (min-width:1400px) {
    
    div.wrapper {
        /* background-color:#778899; */
        background-color:#ffffff;
        width:85%;
        margin:auto;
    }

}
    

/* END DESKTOP - RESPONSIVE RULES */




/* START TABLET - RESPONSIVE RULES */

@media all and (min-width:501px) and (max-width:1399px) {
    div.wrapper {
        background-color:cadetblue;
        width:90%;
        margin:auto;
        
    }
    
}

/* END TABLET - RESPONSIVE RULES */




/* START PHONE - RESPONSIVE RULES */

@media all and (max-width:500px) {
    div.wrapper {
        background-color:royalblue;
        width:90%;
        margin:auto;
    }

}
    
/* END PHONE - RESPONSIVE RULES */